<h2>User info</h2>
<%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100"  %>
<table class="table">
  <tr>
   <th>Name</th>
   <th><%= user.name %></th>
  </tr>
  <tr>
    <th>Introducution</th>
    <th><%= user.introduction %></th>
  </tr>
</table>
<div class="row">
  <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
</div>
<% if @book_new.errors.any? %>
  <div class="error_explanation" >
    <% @book_new.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  </div>
<% end %>
<h1>New book</h1>
<%= form_with model: @book_new, local:true do |f| %>
<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, autofocus: true%>
</div>
<div class="form-group">
  <%= f.label :title %>
  <%= f.text_area :body %>
</div>
<div class="form-group">
  <%= f.submit 'Create Book' %>
</div>
<% end %>



