<div class="container px-5 px-sm-0">
    <div class="row">
        <div class="col-md-3">
            <%= render 'books/list', book_new:@book_new, user:@user %>
        </div>
    <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <div class="table_comment">
          <%= render 'table', book: @book %>
        </div>
        <div class="table_comments">
          <%= render 'book_comments/table', book_comments: @book.book_comments%>
        </div>
        <div class="new-comment">
          <%= form_with model: [@book, @book_comment] do |f|%>
              <%= f.text_area :comment %>
              <%= f.submit "送信", class: "btn btn-primary" %>
          <% end %>
     </div>
</div>





